/* How section style */
.how-top-div {
  width: 100vw;
  height: 25vh;
  text-align: center;
  background-color: #fcc31c;
}

.how-top-div h1 {
  font-size: 6em;
  margin: 0;
  padding: 2rem 0 2rem 0;
}

.how-main-div {
  width: 100vw;
}

.how-description {
  width: 100vw;
  text-align: center;
}

.how-description p {
  font-size: 3em;
  padding-left: 1em;
  padding-right: 1em;
}
/* End - How section style */
