/* Main function (search bar) style */

/* Common style */
.main-function-div {
  text-align: center;
}

.main-top-div h1 {
  font-size: 3.5rem;
  margin: 0;
  padding: 2rem 0 2rem 0;
}

.search-div {
  padding-bottom: 2rem;
}

.search-form {
  display: inline-flex;
}

#search-btn-img {
  width: 8vw;
  height: 7vh;
}

.search-div input {
  height: 10vh;
}

/* Extra small devices (phones) */
@media only screen and (max-width: 446px) {
  .search-div input {
    width: 60vw;
    font-size: 1.25rem;
  }
}

/* Extra small devices (phones) */
@media only screen and (min-width: 447px) and (max-width: 600px) {
  .search-div input {
    width: 60vw;
    font-size: 2rem;
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 600px) {
  .main-top-div h1 {
    font-size: 5rem;
    margin: 0;
    padding: 2rem 0 2rem 0;
  }

  .search-div input {
    width: 50vw;
    font-size: 2rem;
  }

  #search-btn-img {
    width: 7vw;
    height: 6vh;
  }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
  .main-top-div h1 {
    font-size: 5rem;
    margin: 0;
    padding: 2rem 0 2rem 0;
  }

  .search-div input {
    width: 50vw;
    font-size: 2rem;
  }

  #search-btn-img {
    width: 7vw;
    height: 6vh;
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
  .main-top-div h1 {
    font-size: 8em;
    margin: 0;
    padding: 2rem 0 2rem 0;
  }

  .search-div {
    padding-bottom: 2rem;
  }

  .search-div input {
    width: 50vw;
    font-size: 3em;
  }

  #search-btn-img {
    width: 5vw;
    height: 5vh;
  }
}

/* End - Main function (search bar) style */
