/* Recipe section style */
.recipe-div {
  text-align: center;
  width: 100vw;
  padding-bottom: 5rem;
}

.recipe-display-div {
  text-align: center;
  border: 1px solid;
  margin: 0 auto;
  width: 60vw;
  background-color: #cfe8d7 !important;
}

.recipe-cat {
  padding-top: 2rem;
}

.btn-recipe-cat {
  margin-left: 1em;
  margin-right: 1em;
}

.pagination {
  text-align: center;
}
/* End - Recipe section style */
