/* Recipe content section style */

/* Common style */

.recipe-main-div {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.recipe-main-div h4 {
  text-align: center;
  font-size: 2em;
  font-family: "Yusei Magic", sans-serif;
}

#recipe-name {
  font-size: 1.5rem;
}

#total-time {
  text-align: center;
}

.recipe-time-div {
  text-align: center;
}

.recipe-time-div p {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.recipe-ingredients-div {
  text-align: left;
}

.recipe-ingredients-div h4 {
  text-align: center;
  font-size: 2rem;
}

#ingredients li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.recipe-directions-div {
  text-align: left;
}

.recipe-directions-div h4 {
  text-align: center;
  padding-top: 1rem;
}

#directions li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.no-recipe {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {
  #ingredients {
    display: block;
    padding-top: 0;
  }

  #directions {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 600px) {
  #ingredients {
    display: block;
    padding-top: 0;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }

  #directions {
    display: block;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }
}

/* Extra large devices (large laptops/desktops) */
@media only screen and (min-width: 1200px) {
  #recipe-name {
    font-size: 3em;
  }

  #ingredients {
    display: block;
    padding-top: 0;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  #directions {
    display: block;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .recipe-ingredients-div h4 {
    text-align: center;
  }
}

/* End - Recipe content section style */
