/* Recipe content section style */

/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {
  .recipe-main-div h4 {
    text-align: center;
    font-size: 2em;
  }

  #recipe-name {
    font-size: 1.5rem;
  }

  #prep-time {
    text-align: center;
  }

  #ingredients {
    display: block;
    padding-top: 0;
  }

  #directions {
    display: block;
  }

  .recipe-time-div {
    text-align: center;
  }

  .recipe-time-div p {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .recipe-ingredients-div {
    text-align: left;
  }

  .recipe-ingredients-div h4 {
    text-align: center;
    font-size: 2rem;
  }

  .recipe-directions-div {
    text-align: left;
  }

  .recipe-directions-div h4 {
    text-align: center;
    padding-top: 1rem;
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 600px) {
  .recipe-main-div h4 {
    text-align: center;
    font-size: 2em;
  }

  #recipe-name {
    font-size: 1.5rem;
  }

  #prep-time {
    text-align: center;
  }

  #ingredients {
    display: block;
    padding-top: 0;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }

  #directions {
    display: block;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }

  .recipe-time-div {
    text-align: center;
  }

  .recipe-time-div p {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .recipe-ingredients-div {
    text-align: left;
  }

  .recipe-ingredients-div h4 {
    text-align: center;
    font-size: 2rem;
  }

  .recipe-directions-div {
    text-align: left;
  }

  .recipe-directions-div h4 {
    text-align: center;
    padding-top: 1rem;
  }
}

/* Extra large devices (large laptops/desktops) */
@media only screen and (min-width: 1200px) {
  .recipe-main-div h4 {
    text-align: center;
    font-size: 2em;
  }

  #recipe-name {
    font-size: 3em;
  }

  #prep-time {
    text-align: center;
  }

  #ingredients {
    display: block;
    padding-top: 0;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  #directions {
    display: block;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .recipe-time-div {
    text-align: center;
  }

  .recipe-time-div p {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .recipe-ingredients-div {
    text-align: left;
  }

  .recipe-ingredients-div h4 {
    text-align: center;
  }

  .recipe-directions-div {
    text-align: left;
  }

  .recipe-directions-div h4 {
    text-align: center;
    padding-top: 1rem;
  }
}

/* End - Recipe content section style */
