footer {
  height: 20vh;
  background-color: #e36b81;
}

.contact-us-div {
  font-size: 2em;
  text-align: center;
}

.contact-us-div p {
  padding: 0.5rem 0;
}

.contact-us-div p a:first-child {
  color: blue;
  text-decoration: none;
}
