/* footer style */

/* Common style */
footer {
  height: 20vh;
  background-color: #e36b81;
}

.contact-us-div {
  font-size: 1.5rem;
  text-align: center;
}

.contact-us-div p {
  margin: auto;
  padding: 0.5rem 0;
}

.contact-us-div p a:first-child {
  color: blue;
  text-decoration: none;
}

/* Extra small devices (phones) */
@media only screen and (max-width: 446px) {
  .contact-us-div {
    font-size: 1.75em;
    text-align: center;
  }

  .contact-us-div p {
    padding: 0.75rem 0;
  }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
  .contact-us-div {
    font-size: 1.5em;
    text-align: center;
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
  .contact-us-div {
    font-size: 2rem;
    text-align: center;
  }

  .contact-us-div p {
    padding: 0.5rem 0;
  }
}

/* Extra large devices (large laptops/desktops) */
@media only screen and (min-width: 1200px) {
  .contact-us-div {
    font-size: 2.25rem;
    text-align: center;
  }

  .contact-us-div p {
    padding: 0.5rem 0;
  }
}

/* End - footer style */
